<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="dns-prefetch" href="//unpkg.com"/>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/jsoneditor@6.1.0/dist/jsoneditor.min.css">
    <title>Hypersomnia</title>
    <style>
        body, html {
            margin: 0;
            height:100%;
        }

        body{
            overflow: hidden;
        }

        .symbol {
            display: none;
        }

        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -.125em;
            fill: #212529;
        }

        .container-fluid, .parent {
            height: 100%;
        }

        #services, #request, #response {
            position: relative;
            float: left;
            height:100%;
            overflow-y: auto;
        }

        div.active {
            background-color: #444444;
            color: #ffffff;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

        .ace_editor {
            font: 10px 'Roboto-Mono',Monaco,Menlo,'Ubuntu Mono',Consolas,monospace !important;
        }

        #request-editor, #response-editor {
            height: 90%;
        }

        .clickable {
            cursor: pointer;
        }
    </style>
</head>
<body>
<svg class="symbol">
    <symbol id="cog" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z"/></symbol>
</svg>
<svg class="symbol">
    <symbol id="cube" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M239.1 6.3l-208 78c-18.7 7-31.1 25-31.1 45v225.1c0 18.2 10.3 34.8 26.5 42.9l208 104c13.5 6.8 29.4 6.8 42.9 0l208-104c16.3-8.1 26.5-24.8 26.5-42.9V129.3c0-20-12.4-37.9-31.1-44.9l-208-78C262 2.2 250 2.2 239.1 6.3zM256 68.4l192 72v1.1l-192 78-192-78v-1.1l192-72zm32 356V275.5l160-65v133.9l-160 80z"/></symbol>
</svg>
<svg class="symbol">
    <symbol id="star-solid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></symbol>
</svg>
<svg class="symbol">
    <symbol id="star-regular" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM388.6 312.3l23.7 138.4L288 385.4l-124.3 65.3 23.7-138.4-100.6-98 139-20.2 62.2-126 62.2 126 139 20.2-100.6 98z"/></symbol>
</svg>

<div class="container-fluid p-2 pl-4">
    <div class="row parent">
        <div class="col-sm" id="services" style="overflow-y: hidden;">
            {{ $length := len .Envs }}
            <div {{if le $length 1}} style="display: none;"{{end}}>
                <label for="environmentSwitcher">Environment:</label> <select id="environmentSwitcher" class="js-environment">
                    {{range .Envs}}<option value="{{.}}">{{.}}</option>{{end}}
                </select> <svg class="icon clickable js-environment-settings ml-1"><use href="#cog"/></svg>
            </div>
            <div class="mt-1 mb-1">
                Services:
            </div>
            <div class="js-services" style="overflow-y: auto; height: 90%;">

            </div>
        </div>
        <div class="col-sm" id="request">
            <div class="mb-2 clearfix">
                <div class="js-active-endpoint float-left pt-1 pb-1"><span class="text-muted">Select endpoint on the left</span></div>
                <button class="btn btn-sm btn-primary js-send float-right">Send</button>
                <button class="btn btn-sm btn-secondary js-reset float-right mr-2">Reset</button>
            </div>
            <div id="request-editor"></div>
        </div>
        <div class="col-sm" id="response">
            <div class="mb-2 mt-3 clearfix">
                <span class="badge badge-secondary js-response-time float-right">...</span>
                <span class="badge badge-secondary js-response-took float-right mr-2">...</span>
                <span class="badge badge-secondary js-correlation-id float-right mr-2" style="cursor: pointer;">...</span>
            </div>
            <div id="response-editor"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="environmentSettings" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Environment settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>External logs</h5>
                <p>Enter external log systems URLs here using <code>_correlationId_</code> as placeholer.
                When you click correlation id badge on top of response box the placeholders in URL will be
                    substituted with actual value and URL will open.</p>
                <div class="js-environment-logs-urls">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary js-environment-settings-save" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js"></script>
<script src="https://unpkg.com/popper.js@1.15.0/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/moment@2.24.0/min/moment.min.js"></script>
<script src="https://unpkg.com/jsoneditor@6.1.0/dist/jsoneditor.min.js"></script>
<script src="https://unpkg.com/dexie@2.0.4/dist/dexie.js"></script>
<script src="https://unpkg.com/jsonpath@1.0.2/jsonpath.min.js"></script>
<script src="https://unpkg.com/mustache@3.0.1/mustache.min.js"></script>
{{ .JsTemplates }}
<script>
    let tmplService = $('#tmplService').html();
    let tmplEndpoint = $('#tmplEndpoint').html();
    let tmplEnvironmentLogsUrl = $('#tmplEnvironmentLogsUrl').html();

    String.prototype.replaceAll = function(search, replacement) {
        let target = this;
        return target.replace(new RegExp(search, 'g'), replacement);
    };

    Array.prototype.remove = function() {
        let what, a = arguments, L = a.length, ax;
        while (L && this.length) {
            what = a[--L];
            while ((ax = this.indexOf(what)) !== -1) {
                this.splice(ax, 1);
            }
        }
        return this;
    };

    let copyToClipboard = function(data) {
        var tempInput = document.createElement('INPUT');
        let body = $('body')[0];
        body.appendChild(tempInput);
        tempInput.setAttribute('value', data);
        tempInput.select();
        document.execCommand('copy');
        body.removeChild(tempInput);
    };

    function pregQuote (str, delimiter) {
        return (str + '').replace(new RegExp('[.\\\\+*?\\[\\^\\]$(){}=!<>|:\\' + (delimiter || '/') + '-]', 'g'), '\\$&');
    }

    function getMatches(string) {
        let matches = [];
        let match;
        let regex = /Response\.(.+?)\((.+?),?(\s?int)?\)/g;
        while (match = regex.exec(string)) {
            matches[match[0]] = {
                endpoint: match[1],
                path: match[2],
                type: match[3] || 'string',
            };
        }
        return matches;
    }

    function pack(v) {
        let m = {};
        if (v !== null && typeof v !== 'undefined' && typeof v.values !== 'undefined') {
            for (let i in v.values) {
                if (v.values[i].name === '' || v.values[i].name === '-') {
                    continue;
                }
                if(v.values[i].values == null || v.values[i].values.length == 0) {
                    if(v.values[i].type == 'string') {
                        m[v.values[i].name] = "";
                    } else {
                        m[v.values[i].name] = 0;
                    }
                } else {
                    m[v.values[i].name] = pack(v.values[i]);
                }
            }
        }
        return m
    }

    let storage = window.localStorage;

    let db = new Dexie("hypersomnia");
    db.version(1).stores({
        requests: 'endpoint,body',
        responses: 'endpoint,time,receivedAt,body,correlationId'
    });

    let activeEndpoint = storage.getItem('active-endpoint');
    let favorites = storage.getItem('favorites');
    if (favorites) {
        favorites = JSON.parse(favorites);
    } else {
        favorites = [];
    }

    $(function () {
        let requestEditor = new JSONEditor(document.getElementById("request-editor"), {
            enableSort: false,
            enableTransform: false,
            mode: 'code',
        });
        let responseEditor = new JSONEditor(document.getElementById("response-editor"), {
            mode: 'code',
        });

        let environmentSwitcher = $('.js-environment');
        environmentSwitcher.on('change', function () {
            $(this).prop('disabled', true);
            $.ajax({
                method: 'POST',
                url: 'services',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify({
                    environment: $(this).val(),
                }),
                success: function (response) {
                    let services = $('.js-services');
                    services.text('');
                    // Favorites
                    for (let i in response) {
                        let name = response[i].name;
                        if (favorites.indexOf(name) === -1) {
                            continue;
                        }
                        let id = name.replace(/\./g, '_');
                        services.append(Mustache.render(tmplService, {id: id, name: name}));
                    }

                    for (let i in response) {
                        let name = response[i].name;
                        if (name === '') {
                            continue;
                        }
                        if (favorites.indexOf(name) !== -1) {
                            continue;
                        }
                        let id = name.replace(/\./g, '_');
                        services.append(Mustache.render(tmplService, {id: id, name: name}));
                    }

                    for (let i in favorites) {
                        $('.js-favorite[data-service="'+favorites[i]+'"]')
                            .addClass('js-favorite-on')
                            .find('use').attr('href', '#star-solid')
                        ;
                    }

                    $('.collapse')
                        .each(function () {
                            let id = $(this).attr('id');
                            if (storage.getItem(id + ':show') === 'true') {
                                $(this).collapse('show');
                            } else {
                                $(this).collapse('hide');
                            }
                        })
                    ;
                },
                error: function (jqXHR, _, errorThrown) {
                    alert(errorThrown + ': ' + jqXHR.responseText);
                },
                complete: function () {
                    $('.js-environment').prop('disabled', false)
                }
            });
        });
        environmentSwitcher.trigger('change');

        $(document).on('click', '.js-endpoint-toggle', function () {
            let service = $(this).data('service');
            storage.setItem('active-service', service);

            let endpoint = $(this).data('endpoint');
            storage.setItem('active-endpoint', endpoint);
            $('.js-active-endpoint').text(endpoint);
            $('.js-endpoint-toggle').removeClass('active');
            $(this).addClass('active');

            let requestBody = JSON.parse($(this).find('.js-endpoint-request-template').text());
            requestEditor.set('loading...');
            db.requests.where('endpoint').equals(endpoint).first().then(function(request) {
                if (request) {
                    requestBody = request.body;
                }
            }).catch(function(error){
                console.error(error);
            }).finally(function () {
                requestEditor.set(requestBody);
            });

            responseEditor.set('loading...');
            $('.js-response-took').text('...');
            $('.js-response-time').text('...');
            $('.js-correlation-id').text('');

            let cachedResponse = {
                time: '...',
                receivedAt: '',
                body: '',
                correlationId: '',
            };
            db.responses.where('endpoint').equals(endpoint).first().then(function(response) {
                if (response) {
                    cachedResponse = response;
                }
            }).catch(function(error){
                console.error(error);
            }).finally(function () {
                responseEditor.set(cachedResponse.body);
                $('.js-response-took').text(cachedResponse.time);
                $('.js-response-time').text(cachedResponse.receivedAt ? moment(cachedResponse.receivedAt).fromNow() : '...');
                $('.js-correlation-id').text(cachedResponse.correlationId);
            });
        });

        $(document).on('keyup', '#request-editor', function () {
            let endpoint = storage.getItem('active-endpoint');
            try {
                db.requests.put({endpoint: endpoint, body: requestEditor.get()});
            } catch (err) {}
        });

        $(document).on('click', '.js-reset', function () {
            let endpoint = storage.getItem('active-endpoint');
            let requestTemplate = $('.js-endpoint-toggle[data-endpoint="'+endpoint+'"]').find('.js-endpoint-request-template').text();
            requestEditor.set(JSON.parse(requestTemplate));
        });

        $(document)
            .on('show.bs.collapse', '.collapse', function () {
                let id = $(this).attr('id');
                storage.setItem(id + ':show', 'true');
                let serviceName = $(this).data('service');
                let container = $('.js-endpoints[id="'+id+'"]');
                container.html('loading...');

                class Response {
                    endpoints;
                    Time;
                    CorrelationId;
                }

                $.ajax({
                    method: 'POST',
                    url: 'service',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        environment: $('.js-environment').val(),
                        name: serviceName,
                    }),
                    success: /** @param {Response} response */ function (response) {
                        container.html('<ul class="list-unstyled"></ul>');
                        for (let i in response.endpoints) {
                            if (!response.endpoints.hasOwnProperty(i)) {
                                continue;
                            }
                            if (response.endpoints[i].name === '') {
                                continue;
                            }
                            container.find('ul').append(Mustache.render(tmplEndpoint, {
                                serviceName: serviceName,
                                endpointName: response.endpoints[i].name,
                                requestTemplate: JSON.stringify(pack(response.endpoints[i].request)),
                            }));
                        }
                        if (activeEndpoint) {
                            $('.js-endpoint-toggle[data-endpoint="' + activeEndpoint + '"]').trigger('click');
                        }
                    },
                    error: function (jqXHR, _, errorThrown) {
                        alert(errorThrown + ': ' + jqXHR.responseText);
                    },
                    complete: function () {
                    }
                });
            })
            .on('hide.bs.collapse', '.collapse', function () {
                let id = $(this).attr('id');
                storage.removeItem(id + ':show');
            })
        ;
        $('.collapse')
            .each(function () {
                let id = $(this).attr('id');
                if (storage.getItem(id + ':show') === 'true') {
                    $(this).collapse('show');
                } else {
                    $(this).collapse('hide');
                }
            })
        ;

        $(document).on('click', '.js-send', function () {
            $('.js-send').prop('disabled', true);
            let environment = $('.js-environment').val();
            let service = storage.getItem('active-service');
            let endpoint = storage.getItem('active-endpoint');
            let body;
            try {
                body = requestEditor.get();
            } catch (e) {
                alert('Request: ' + e.message);
            }

            responseEditor.set('loading...');
            $('.js-response-time').text('...');
            $('.js-response-took').text('...');
            $('.js-correlation-id').text('...');

            let bodyText = JSON.stringify(body);
            let matches = getMatches(bodyText);

            let promises = [];
            for (let match in matches) {
                if (!matches.hasOwnProperty(match)) {
                    continue;
                }
                if (typeof matches[match].endpoint === 'undefined') {
                    continue;
                }
                let source = matches[match];
                let replace = '';

                promises.push(db.responses.where('endpoint').equals(source.endpoint).first().then(function(response) {
                    if (response) {
                        replace = jsonpath.value(response.body, source.path);
                    }
                }).catch(function(error){
                    console.error(error);
                }).finally(function () {
                    if (source.type === 'int') {
                        match = '"' + match + '"';
                    }
                    bodyText = bodyText.replaceAll(pregQuote(match), replace);
                }));
            }

            Promise.all(promises).then(function() {
                body = JSON.parse(bodyText);
                console.info('Environment: ' + environment + '\nService: ' + service + '\nEndpoint: ' + endpoint + '\nRequest: ' + JSON.stringify(body));
                class Response {
                    Body;
                    Time;
                    CorrelationId;
                }

                $.ajax({
                    method: 'POST',
                    url: 'call',
                    dataType: 'json',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        environment: environment,
                        service: service,
                        endpoint: endpoint,
                        body: body,
                    }),
                    success: /** @param {Response} response */ function (response) {
                        let body;
                        try {
                            body = JSON.parse(response.Body);
                        } catch (e) {
                            body = response.Body;
                        }
                        console.info('Response: ' + response.Body);

                        $('.js-response-time').text('just now');
                        $('.js-response-took').text(response.Time);
                        $('.js-correlation-id').text(response.CorrelationId);
                        responseEditor.set(body);

                        db.responses.put({
                            endpoint: endpoint,
                            receivedAt: moment().format(),
                            time: response.Time,
                            body: body,
                            correlationId: response.CorrelationId,
                        });
                    },
                    error: function (jqXHR, _, errorThrown) {
                        alert(errorThrown + ': ' + jqXHR.responseText);
                    },
                    complete: function () {
                        $('.js-send').prop('disabled', false);
                    }
                });
            });
        });

        $(document).on('click', '.js-favorite', function() {
            let service = $(this).data('service');
            if (favorites.indexOf(service) === -1) {
                favorites.push(service);
                storage.setItem('favorites', JSON.stringify(favorites));
                let serviceContainer = $(this).closest('.js-service');
                serviceContainer.parent().prepend(serviceContainer);
            }
            $(this)
                .addClass('js-favorite-on')
                .find('use').attr('href', '#star-solid')
            ;
        });

        $(document).on('click', '.js-favorite-on', function() {
            let service = $(this).data('service');
            favorites.remove(service);
            storage.setItem('favorites', JSON.stringify(favorites));
            $(this)
                .removeClass('js-favorite-on')
                .find('use').attr('href', '#star-regular')
            ;
            let serviceContainer = $(this).closest('.js-service');
            serviceContainer.parent().append(serviceContainer);
        });

        $('#request-editor').keydown(function (e) {
            if (e.ctrlKey && e.keyCode === 13) {
                $('.js-send').trigger('click');
            }
        });

        $(document).on('click', '.js-correlation-id', function () {
            let env = $('.js-environment').val();
            let correlationId = $(this).text();
            copyToClipboard(correlationId);
            $(this).tooltip('dispose');
            $(this).tooltip({title: 'Copied!'}).tooltip('show');

            let url = storage.getItem('logs:' + env);
            if (url !== null) {
                url = url.replaceAll('_correlationId_', correlationId);
                window.open(url, '_blank');
            }
        });
        $(document).on('mouseleave', '.js-correlation-id', function () {
            $(this).tooltip('dispose');
            $(this).tooltip({title: 'Copy to clipboard'});
        });
        $('.js-correlation-id').tooltip({ title: 'Copy to clipboard' });

        $(document).on('click', '.js-environment-settings', function() {
            let container = $('.js-environment-logs-urls');
            container.html('');
            $('.js-environment option').each(function () {
                let environment = $(this).val();
                if (environment === 'local') {
                    return
                }
                container.append(Mustache.render(tmplEnvironmentLogsUrl, {
                    environment: environment,
                    url: storage.getItem('logs:' + environment),
                }));
            });

            $('#environmentSettings').modal();
        });

        $(document).on('click', '.js-environment-settings-save', function () {
            $('.js-environment-url').each(function () {
                let environment = $(this).data('environment');
                let url = $(this).val();
                if (url === '') {
                    storage.removeItem('logs:' + environment);
                } else {
                    storage.setItem('logs:' + environment, $(this).val());
                }
            });
        });

        if (activeEndpoint) {
            $('.js-endpoint-toggle[data-endpoint="' + activeEndpoint + '"]').trigger('click');
        }
    });
</script>
</body>
</html>
