<script id="tmplService" type="x-tmpl-mustache">
    <div class="js-service">
        <div class="mt-1 mb-1">
            <i class="fas fa-cube pr-1"></i>
            <i class="far fa-star js-favorite" style="cursor:pointer;" data-service="{{ name }}"></i>
            <strong class="collapsed" style="cursor:pointer;" data-toggle="collapse" href="#{{ id }}">{{ name }}</strong>
        </div>
        <div class="collapse js-endpoints" id="{{ id }}" data-service="{{ name }}">...</div>
    </div>
</script>

<script id="tmplEndpoint" type="x-tmpl-mustache">
    <li><div class="ml-3 pl-1 pr-1 mb-1 js-endpoint-toggle"
                style="cursor: pointer;display: inline-block;"
                data-service="{{ serviceName }}" data-endpoint="{{ endpointName }}">
            {{ endpointName }}
            <pre style="display:none;" class="js-endpoint-request-template">{{ requestTemplate }}</pre>
    </div></li>
</script>

<script id="tmplEnvironmentLogsUrl" type="x-tmpl-mustache">
    <div class="form-group">
        <label for="{{ environment }}Url">{{ environment }}</label>
        <textarea class="form-control form-control-sm js-environment-url" data-environment="{{ environment }}" id="{{ environment }}Url" rows="4">{{ url }}</textarea>
    </div>
</script>